/* Tema oscuro */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body { 
    background:  #3c4556;
    color: #f8f8f2;
    
    a:link    { color: #bcc2cd; }
    a:visited { color: #ff5555; }
    a:hover   { color: #8be9fd; }

    kbd {
      border-radius: 4px;
      padding: 2px;
      background-color: #e7e9eb;
      color: #3c4556;
    }
  }
  
  /* Tema claro*/
  body.light-theme {
    background:  #fafafa;
    color: #000000;

    a         { color: #cyan; }
    a:hover   { color: #grey; }
    a:visited { color: #a0a; }
    kbd {
      border-radius: 4px;
      padding: 2px;
      background-color: grey;
      color: #000000;
    }
  }
}

body {            

  font: sans-serif;
  text-align: left;
  margin:0 auto;
  max-width:80%;
    /* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    font-size: 1rem;
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    font-size: 0.8rem;
}
}



img {
  max-width: 100%;
}

ul.item, ol.item {
  padding-inline-start: 1.5rem;
}

li.item {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

/*** Menú navegación **/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #04AA6D;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



/**********************/
